### Importando as Bibliotecas

In [2]:
import pandas as pd

### Criando o Dataframe

In [14]:
data = {'Sexo':['Masculino', 'Feminino'], 'Idade': [70, 75]}

In [15]:
df = pd.DataFrame(data)

In [6]:
df

        Sexo  Idade
0  Masculino     70
1   Feminino     75

### Codificando a Coluna 'Sexo'

In [16]:
from sklearn.preprocessing import LabelEncoder

In [19]:
le = LabelEncoder()
df['Sexo'] = le.fit_transform(df['Sexo'])

In [12]:
df['Sexo'] = le.fit_transform(df['Sexo'])

In [13]:
df

   Sexo  Idade
0     1     70
1     0     75